* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.startModal {
  background-color: #eee;
  background-image: url(m5_start.png);
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: 1;
  padding-top: 186px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.gameBoard {
  background-image: url(flag.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.path {
  display: flex;
  margin: 20px 0;
}
.space {
  width:8.33%;
  /* border: 1px solid skyblue; */
}

.player1 {
  height: 200px;
  margin: 50px 0 8px;
  background-image: url(Speed_Racer.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.player2 {
  height: 200px;
  margin: 8px 0 50px;
  background-image: url(Racer_X.png);
  background-size: contain;
  background-repeat: no-repeat;
}
